services:
  deviceservice.api:
    build:
      context: .
      dockerfile: DeviceService.Api/Dockerfile
    container_name: deviceservice.api
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      ConnectionStrings__DefaultConnection: "Host=postgres;Database=${POSTGRES_DB};Username=${DB_USER};Password=${DB_PASSWORD}"
    healthcheck:
      test: ["CMD", "wget", "-q0-", "http://localhost:8080/health/ready"]
      interval: 10s
      retries: 3

  postgres:
    image: postgres:16
    container_name: deviceservice.db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports: 
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

volumes:
  pgdata: