name: CI pipeline

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./  # Ensure runner is at repo root

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore SmartHome.sln

      - name: Build solution
        run: dotnet build SmartHome.sln --configuration Release --no-restore

      - name: Run tests
        run: dotnet test SmartHome.sln --no-build --verbosity normal
